.header__close-icon {
  background-image: url(../../../images/close-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.header__close-icon:hover {
  opacity: 0.6;
}