.header__menu-icon {
  transition: opacity 0.3s ease;
  cursor: pointer;
  display: none;
  background-image: url(../../../images/toggle-menu.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.header__menu-icon:hover {
  opacity: 0.8;
}

@media screen and (max-width: 610px) {
  .header__menu-icon {
    display: block;
  }
}